
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Overpass:wght@400;700&display=swap');

 body {
     font-family: 'Overpass', sans-serif;
     background: #fff;
 }

 p {
     font-family: 'Poppins', sans-serif;
     font-size: 1.1em;
     font-weight: 300;
     line-height: 1.7em;
     color: #999;
 }

 a,
 a:hover,
 a:focus {
     color: inherit;
     text-decoration: none;
     transition: all 0.3s;
 }

 .navbar {
     padding: 15px 10px;
     background: #fff;
     border: none;
     border-radius: 0;
     
     
 }

 .navbar-btn {
     box-shadow: none;
     outline: none !important;
     border: none;
 }

 .school-year{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
 }

 .school-year .heading-area{
     width: 100%;
 }
 .school-year-item{
     width: 100%;
     display: flex;
     gap: 20px;
 }
 .school-year-item .form-wrap{
     width: 100%;
 }
 .line {
     width: 100%;
     height: 1px;
     border-bottom: 1px dashed #ddd;
     margin: 40px 0;
 }

 i,
 span {
     display: inline-block;
 }

 /* ---------------------------------------------------
     SIDEBAR STYLE
 ----------------------------------------------------- */
 .error-message {
    font-size: 0.875em;
    color: #dc3545; /* Bootstrap's danger color */
    margin-top: 0.25em;
}

 .wrapper {
     display: flex;
     align-items: stretch;
 }

 #sidebar {
     min-width: 250px;
     max-width: 250px;
     background: #087830;
     color: #fff;
     transition: all 0.3s;
     position: relative;
     overflow-x: hidden;
 }

 #sidebar.active {
     min-width: 120px;
     max-width: 120px;
     text-align: center;
 }

 #sidebar.active .sidebar-header h3,
 #sidebar.active .CTAs {
     display: none;
 }

 #sidebar.active .sidebar-header strong {
     display: block;
 }

 #sidebar ul li a {
     text-align: left;
 }

 #sidebar.active ul li a {
     padding: 20px 10px;
     text-align: center;
     font-size: 0.85em;
 }

 #sidebar.active ul li a i {
     margin-right: 0;
     display: block;
     font-size: 1.8em;
     margin-bottom: 5px;
 }

 #sidebar.active ul ul a {
     padding: 10px !important;
 }

 #sidebar.active .dropdown-toggle::after {
     top: auto;
     bottom: 10px;
     right: 50%;
     -webkit-transform: translateX(50%);
     -ms-transform: translateX(50%);
     transform: translateX(50%);
 }

 #sidebar .sidebar-header {
     padding: 20px;
 }

 #sidebar .sidebar-header strong {
     display: none;
     font-size: 1.8em;
 }

 #sidebar ul.components {
     padding: 20px 0;
 }

 #sidebar ul li a {
     padding: 10px;
     font-size: 1.1em;
     display: block;
 }

 #sidebar ul li a:hover {
     color: #acd8b8;
     background: #fff;
 }

 #sidebar ul li a i {
     margin-right: 10px;
 }

 #sidebar ul li.active>a,
 a[aria-expanded="true"] {
     color: #fff;
     background: #acd8b8;
 }

 a[data-toggle="collapse"] {
     position: relative;
 }

 .dropdown-toggle::after {
     display: block;
     position: absolute;
     top: 50%;
     right: 20px;
     transform: translateY(-50%);
 }

 ul ul a {
     font-size: 0.9em !important;
     padding-left: 30px !important;
     background: #087830;
 }

 ul.CTAs {
     padding: 20px;
 }

 ul.CTAs a {
     text-align: center;
     font-size: 0.9em !important;
     display: block;
     border-radius: 5px;
     margin-bottom: 5px;
 }

 a.download {
     background: #fff;
     color: #7386D5;
 }

 a.article,
 a.article:hover {
     background: #6d7fcc !important;
     color: #fff !important;
 }

/*   #logout_area {
    
     list-style-type: none; 
     margin-left: -30px; 
     position: absolute;
     bottom: 0;
 } */

/*  #logout_area #logout_list {
     position: static;
 } */
 
 #sidebar.active #logout_list {
     margin-top: 10px;
 }

 #logout_list {
     margin-top: 40px;
 }

 /* ---------------------------------------------------
     CONTENT STYLE
 ----------------------------------------------------- */

 #content {
     width: 100%;
     padding: 10px 0px;
     min-height: 100vh;
     transition: all 0.3s;
 }

 form input {
     /* margin-bottom: 20px; */
 }

 /* ---------------------------------------------------
     MEDIAQUERIES
 ----------------------------------------------------- */

 @media (max-width: 768px) {
     #sidebar {
         min-width: 80px;
         max-width: 80px;
         text-align: center;
         margin-left: -80px !important;
     }
     .dropdown-toggle::after {
         top: auto;
         bottom: 10px;
         right: 50%;
         -webkit-transform: translateX(50%);
         -ms-transform: translateX(50%);
         transform: translateX(50%);
     }
     #sidebar.active {
         margin-left: 0 !important;
     }
     #sidebar .sidebar-header h3,
     #sidebar .CTAs {
         display: none;
     }
     #sidebar .sidebar-header strong {
         display: block;
     }
     #sidebar ul li a {
         padding: 20px 10px;
     }
     #sidebar ul li a span {
         font-size: 0.85em;
     }
     #sidebar ul li a i {
         margin-right: 0;
         display: block;
     }
     #sidebar ul ul a {
         padding: 10px !important;
     }
     #sidebar ul li a i {
         font-size: 1.3em;
     }
     #sidebar {
         margin-left: 0;
     }
     #sidebarCollapse span {
         display: none;
     }

     #logout_area {
     padding-top: 150%;
     list-style-type: none; 
     margin-left: -30px; 
     }

 }


 /* container main style */
 *:focus {
     outline: none;
 }
 #content {
     background-color: #fff;
 }
 .main-content {
     display: flex;
     flex-direction: column;
     padding: 30px;
  
 }  
 .form {
  /*    background-color: #6d7fcc; */
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 30px;
 }

 .form-groups{
     display: flex;
     gap: 20px;
 }

 .form-groups .form-wrap,
 .form-groups .select-wrap,
 .form-groups .date-wrap{
     width: 100%;
     
 }

 @media screen and (max-width: 1258px) {
     .form {
         display: flex;
         flex-direction: column;
         
     }
 }
 .form-wrap {
/*   background-color: #73d58d; */
     position: relative;

 }
 .form-input , .email-input {
     width: 98%;
     height: 50px;
     box-sizing: border-box;
     padding: 0px 10px;
     border: none;
     border-bottom: 1px solid #dad3d3;
     background-color: #fff;
 }
 .form-wrap .form-input:focus ~ span , 
 .form-wrap .form-input:valid ~ span {
     top: -20%;
     left: 0;
     font-size: 13px;
     transition: ease 500ms;
     color: #0c0c0c;
     font-weight: 700;
 }
 .form-wrap .email-input ~ span,
 .form-wrap .email-input ~ span
 {
     top: -30%;
     left: 5px;
     font-size: 13px;
     transition: ease 500ms;
     color: #0c0c0c;
     font-weight: 700;
 }
 .form-wrap span {
     position: absolute;
     left: 0px;
     top: 15%;
     z-index: 1;
     pointer-events: none;
     font-weight: 700;
     transition: 500ms ease;
 }
 .btn-area {
     grid-column: span 2;
 }
 .radio-area {
     display: flex;
     justify-content: center;
     align-items: end;
     gap: 10px;
     height: 50px;
     grid-column: span 2;
     text-align: center;    
 }

 .btn-area {
    text-align: center;
 }
 .add-account-btn {
     border: none;
     background: linear-gradient(61deg, rgba(33,191,110,0.8968837535014006) 42%, rgba(0,255,51,1) 94%);
     box-shadow: -5px 5px 25px -15px rgba(0,0,0,0.75);
     padding: 10px 20px;
     border-radius: 10px;
     color: #fff;
     transition: ease 500ms;
 }
 .heading-area {
     grid-column: span 2;
 }

 .date-wrap {
     position: relative;
 }
 .date-wrap span {
     position: absolute;
     top: -20%;
     left: 0px;
     font-weight: 700;
 }
 .date-wrap input {
     padding: 0;
 }
 .heading-area h2 {
     font-size: 30px;
 }
 .select-wrap {
     position: relative;
     /* display: flex; */
     align-items: center; 
  
 }
 .select-wrap select {
     padding: 8px 10px;
     font-family: var(--main-font);
     cursor: pointer;
     width: 98%;
     border: none;
     background-color: #e6e3e3;
 }
 .select-wrap span {
     position: absolute;
     top: -30%;
     left: 0px;
     font-weight: 700;
     color: #0c0c0c;
 }
 @media screen and (max-width: 900px) {
     .select-wrap zspan {
     position: absolute;
     top: -50%;
     left: 0px;
     font-weight: 700;
     color: #0c0c0c;
 } 
 }
 .g-drive-wrap {
     position: relative;
 }
 .g-drive-wrap span {
     position: absolute;
     top: -15%;
     left: 0px;
     color: #0c0c0c;
     font-weight: 700;
 }
 
 .g-drive-wrap .form-input:valid ~ span {
     color: #0c0c0c;
     font-weight: 700;
     font-size: 13px;
 }
 /* container style ends here */  
 #Pageloader {
     background: #fff url("../img/1490.gif");
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
     height: 100vh;
  
     position: fixed;
     z-index: 100;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

#input {
width: 30px;
}

@media(max-width:767px){
.form-groups{
     flex-direction: column;
     gap: 10px;
 }
}
